---
import Layout from "../layouts/Layout.astro";
import Portada from "../components/Portada.astro";
import MyUniverse from "../components/MyUniverse.astro";
---

<Layout title="Oriol Giner Díaz - Software Developer">
  <main>
    <Portada></Portada>
    <MyUniverse></MyUniverse>
  </main>
</Layout>




