---
import Layout from "../layouts/Layout.astro";
import Portada from "../components/Portada.astro";
import Section from "../components/Section.astro";
import Section2 from "../components/Section2.astro";
import Education from "../components/Education.astro";



// Images
import { Image } from 'astro:assets';
import AmericanaImage from '../assets/images/americana.webp';
---

<Layout title="Oriol Giner Díaz - Software Developer">
  <main>
    <Portada />
    <Section alignment="left" title="Mi Universo" id="universe">
      <div
        style="max-width: 500px; margin: auto;"
        class="mb-3 mb-md-0"
        slot="text"
      >
        <p>
          ¡Bienvenido a mi universo! Aquí descubrirás un poco más sobre mí, mis
          pasiones y lo que me inspira cada día. ¡Disfruta del recorrido!
        </p>
        <p style="margin-top: 1em;">
          <b>Dato curioso:</b> cuando no estoy programando o resolviendo problemas
          de código, estoy probablemente intentando que mis plantas no mueran o pensando
          en el próximo gran proyecto que arruinará mi sueño. ¡Pero oye, al menos
          siempre hay café!
        </p>
      </div>
      <div class="row" slot="media">
        <div class="col-12 col-md-7 mb-4 mb-md-0">
          <iframe
            loading="lazy"
            width="100%"
            style="max-width: 560px;"
            height="315"
            class="mx-auto"
            src="https://www.youtube.com/embed/GwugyTul0IA?si=hs0hQniiAH2YIZPv"
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen></iframe>
        </div>
        <div class="col-12 col-md-5">
          <iframe
            loading="lazy"
            class="mx-auto"
            style="max-width: 350px;"
            width="100%"
            height="607"
            src="https://www.youtube.com/embed/TfggkWp9IaY"
            title="Ors Lamp"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen></iframe>
        </div>
      </div>
    </Section>
    <Section2 alignment="right" title1="BIO" title2="MIS METAS">
      <div slot="text1" class="text-left">
        <style>
          p {
            margin-bottom: 1em;
          }
        </style>
        <p>
          ¡Hola! Soy Oriol Giner Díaz, un desarrollador de software apasionado y
          versátil. Aunque mi especialidad es JavaScript, también tengo un
          sólido dominio en PHP y SQL. Además, cuento con experiencia en Python
          y conocimientos básicos de Java y C++.
        </p>

        <p>
          Mi carrera no se limita solo al trabajo freelance; también dedico
          tiempo al voluntariado en la ADF Aviñonet, una experiencia que me
          resulta muy gratificante.
        </p>

        <p>
          Me enorgullece destacar mis logros con Dart, donde he completado dos
          proyectos emocionantes, y uno de mis mayores éxitos ha sido el
          desarrollo de «Adventure Jam», un videojuego de plataformas creado con
          Unity y C#, que resultó ser un desafío divertido y exitoso.
        </p>

        <p>
          Otro proyecto notable en mi portafolio es <strong>Tech Gesture</strong
          >, un traductor de lenguaje de signos que utiliza inteligencia
          artificial y una simple webcam para traducir el alfabeto dactilológico
          y palabras básicas. Este proyecto ha sido reconocido con varios
          premios.
        </p>

        <p>
          Actualmente, estoy inmerso en la creación de un emocionante proyecto
          que combina Arduino y Flutter.
        </p>

        <p>
          Además de mi trabajo en desarrollo, también me apasiona el modelado 3D
          con Blender y la impresión 3D. ¡Es increíble llevar ideas del mundo
          digital al físico con solo unos clics!
        </p>

        <p>
          Por último, tengo un sólido conocimiento en el desarrollo de backends,
          especialmente con NodeJS y Python, respaldado por un proyecto
          destacado que demuestra mi capacidad en este ámbito. ¡Estoy listo para
          llevar la programación a un nivel más emocionante!
        </p>
      </div>
      <div slot="text2" class="text-left">
        <p>De cara al futuro, mi objetivo es seguir ampliando mis conocimientos en áreas emergentes como la inteligencia artificial y la realidad aumentada. También estoy interesado en desarrollar proyectos que combinen software y hardware de formas innovadoras, contribuyendo a la creación de experiencias interactivas que difuminen las líneas entre lo digital y lo físico.</p>
        <p>Lo que me impulsa es la posibilidad de resolver problemas reales a través de la tecnología. Me encanta enfrentar desafíos que me obliguen a pensar fuera de lo convencional y encontrar soluciones creativas. Ver cómo mis proyectos cobran vida y hacen una diferencia tangible en el día a día de las personas es lo que me motiva a seguir mejorando.</p>
      </div>
      <div slot="media">        
        <Image src={AmericanaImage} alt='A portrait of Oriol Giner' style='border-radius: 50px;'></Image>
      </div>
    </Section2>
    <Education title="Educación">
      <div slot="paralax-image">
				<div class="parallax"></div>
      </div>
			<style>
				.parallax {
					/* The image used */
					background-image: url("/images/george fox.webp");
				
					/* Set a specific height */
					min-height: 300px;
				
					/* Create the parallax scrolling effect */
					background-attachment: fixed;
					background-position: center;
					background-repeat: no-repeat;
					background-size: cover;
				}
				</style>
    </Education>
  </main>
</Layout>
