---
import Layout from "../layouts/Layout.astro";
import Portada from "../components/Portada.astro";
import Section from "../components/Section.astro";
import Section2 from "../components/Section2.astro";
import Education from "../components/Education.astro";
import FeaturedWork from "../components/FeaturedWork.astro";


// Images
import { Image } from 'astro:assets';
import AmericanaImage from '../assets/images/americana.webp';
---

<Layout title="Mi Trabajo - Oriol Giner Díaz - Software Developer">
  <main>
	<h1>Work Page</h1>
  </main>
</Layout>
