---
import * as footerMD from '../pages/md/footer/footer.md';
---


<div class="background">
	<div class="row">
		<div class="col-12 col-md-6 r" style="background-color: var(--yellow);">
			<div></div>
			<h3>
				Oriol<br>Giner
			</h3>
			<div class="info ps-2">
				<footerMD.Content/>
			</div>
		</div>	
		<div class="col col-md-6 photo">
			
		</div>
	</div>
	
</div>
<style>
	h3 {
		font-family: "BrianJames", serif;
	  	font-weight: bold;
	  	font-style: normal;
	  	font-size: 98.2px;
		text-align: left;
    	color: var(--dark-green);
		text-transform: uppercase;
		letter-spacing: -4px;
		
	}
	.info {
		font-family: 'Times New Roman', Times, serif;
		font-size: 19px;
		color: var(--black);
		align-self: end;
	}
	.r {
		height: 100vh;
		display: grid;
    	grid-template-rows: 100px auto 1fr auto 40px;
	}
</style>	
<style>
	.photo {
		background-size: cover;
		background-position: 50% 80%;
		background-image: url('/images/correfoc.jpg');
		background-repeat: no-repeat;
	}
	@media (width <= 768px ) {
		.photo {
			display: none;
		}
		
	}
	@media (width > 768px) {
		.r {
			display: grid;
			grid-template-rows: 1fr auto auto auto 1fr !important;
		}
	}
</style>