---
const { alignment = "left", title1, title2 } = Astro.props;
const order1 = alignment == "left" ? 1 : 2;
const order2 = alignment == "left" ? 2 : 1;
---

<div class="background">
  <div class="container py-5">
    <div class="row text-center">
      <div class="col-12 col-md-8" style=`order: ${order1};`>
        <h4 class="al-1">{title1}</h4>
        <div class="al-1">
          <slot name="text1" />
        </div>
        
        <h4 class="mt-5 al-1">{title2}</h4>
        <div class="al-1">
          <slot name="text2" />
        </div>
        
      </div>
      <div
        class="col-12 col-md-4 my-2 my-md-0 text-center"
        style=`order: ${order2};`
      >
      <div class="al-1"><slot name="media" /></div>
        
      </div>
    </div>
  </div>
</div>
<style>
  .background {
    color: var(--white-decorations);
  }
  h4 {
		font-family: "BrianJames", serif;
	  font-weight: bold;
	  font-style: normal;
	  font-size: 50px;
		text-align: left;
    color: var(--yellow);
  }
  p {
    margin-bottom: 1em;
  }
</style>
